/* Wrapper for entire header page content */

.header-wrapper {
  position: relative; /* allow absolute-positioned, direct children */
}

/* Background of header */

.header-img-background {
  height: 100vh; /* height takes whole viewport */
  min-width: 500px;
  min-height: 500px;
  width: 100%; /* automatically adjust width */
  background-size: cover; /* scale bg to full its div */
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

/* Text of header */

.header-text-wrapper {
  position: absolute; /* position this relative to the direct parent */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex; /* line up content ... */
  flex-direction: column; /* ... vertically */
  justify-content: center; /* align along main-axis */
  align-items: center; /* align along cross-axis */
  text-align: center;
  gap: 40px; /* gap between flex items */
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

/* Text of header: Title */

.header-text-wrapper .title {
  font-size: 70px;
  font-weight: 700;
}

/* Text of header: Subtitle */

.header-text-wrapper .subtitle {
  font-size: 30px;
}

/* Text of header: Button to the about page */

.header-text-wrapper .button a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.header-text-wrapper .button a:hover {
  color: black;
  background: white;
}
